<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiamFyZWRqb25lcyIsImEiOiJjbG9ubTFlY2Eya3ZtMnRxZWY1MmFjaXJ3In0.OpGzi3aW6fpFmuwVu53TjQ</string>
	<key>MGLMapBoxAccessToken</key>
	<string>pk.eyJ1IjoiamFyZWRqb25lcyIsImEiOiJjbG9ubTFlY2Eya3ZtMnRxZWY1MmFjaXJ3In0.OpGzi3aW6fpFmuwVu53TjQ</string>
</dict>
</plist>
